%nav.pattern-lib
  %ul
    %li
      = link_to "index.html" do
        Grid
    %li
      = link_to "headers.html" do
        Headers
    %li
      = link_to "#" do
        Splash Screens
    %li
      = link_to "#" do
        Proof Points
    %li
      = link_to "#" do
        Maps
