%nav.pattern-lib
  %ul
    %li
      = link_to "/" do
        Grid
    %li
      = link_to "/headers" do
        Headers
    %li
      = link_to "#" do
        Splash Screens
    %li
      = link_to "#" do
        Proof Points
    %li
      = link_to "#" do
        Maps
